:root {
     --clr-primary-200: #5200bb;
     --clr-accent-300: #ff00ff91;
     --clr-accent-500: #ff00ff;
     --clr-primary-500: #1e093f93;
     --clr-primary-900: #1e093f;
     --clr-neutral-100: #b2a8b8;
     --clr-neutral-300: #7d7483;
     --clr-neutral-900: #0c031a;
}

/*Global settings*/

*,
*::before,
*::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
     margin: 0;
     height: 100vh;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.2rem;
     color: antiquewhite;
     background-color: #41046d;
     overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
     margin: 0;
}

/*Specifying the size of each section*/
/*Setting smooth scrolling*/

.container {
     width: 100%;
     height: 100%;

     /* CSS Smooth Scroll */

     overflow-y: scroll;
     scroll-behavior: smooth;

     /* Snap Effect */

     scroll-snap-type: y mandatory;
}

section {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     align-content: center;

     /*Add smooth behavior between sections*/
     scroll-snap-align: center;
}

/*Styling Navbar*/

.navbar {
     position: fixed;
     top: 0;
     z-index: 1;
     background: var(--clr-primary-500);
     width: 100%;
     display: flex;
     height: 5rem;
}

.navbar ul {
     display: none;
}

/*Styling hamburger*/

.hamburger {
     display: block;
     cursor: pointer;
     margin-left: 1.5rem;
     margin-top: 0.7rem;
}

.bar {
     display: block;
     width: 3rem;
     height: 0.2em;
     margin: 0.7rem auto;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: var(--clr-neutral-100);
}

/*Hamburger on click*/

.hamburger--active {
     position: fixed;
}

.hamburger--active .bar:nth-child(2) {
     opacity: 0;
}

.hamburger--active .bar:nth-child(1) {
     transform: translateY(0.95rem) rotate(45deg);
     height: 0.3rem;
}

.hamburger--active .bar:nth-child(3) {
     transform: translateY(-1rem) rotate(-45deg);
     height: 0.3rem;
}

/*NavMenu on click*/

.navbar--active {
     background: var(--clr-primary-900);
     z-index: 999;
}

.navbar--active ul {
     display: flex;
     flex-direction: column;
     list-style: none;
     width: 100%;
     justify-content: center;
     align-content: center;
     height: 100vh;
     background: var(--clr-primary-900);
}

.navbar--active ul li {
     margin: 4vh auto;
     display: flex;
     justify-content: center;
     align-content: center;
}

.navbar--active ul li a {
     font-weight: 2rem;
     text-transform: uppercase;
     text-decoration: none;
     color: var(--clr-neutral-100);
     font-size: 2rem;
     letter-spacing: 0.2rem;
}

/*Sections styling*/

/*Section Home*/

section#home {
     background: url('../images/background1.png') no-repeat center center/cover;
}

.home {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.home_content {
     background-image: linear-gradient(
          to right top,
          #900493,
          #7c0787,
          #68097b,
          #55086f,
          #430762,
          #3a075b,
          #310753,
          #28064c,
          #250749,
          #230846,
          #200942,
          #1e093f
     );
     border-radius: 1.5rem;
     padding: 2rem 2rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 20rem;
}

.home_content-title {
     font-size: 2rem;
     padding-bottom: 2rem;
     font-style: italic;
     color: var(--clr-neutral-100);
     text-transform: uppercase;
}

.home_content-paragraph {
     font-size: 2vh;
     color: var(--clr-neutral-300);
     letter-spacing: 0.1rem;
     text-transform: uppercase;
}

/*Section gallery*/

section#gallery {
     background: url('../images/background2.png') no-repeat center center/cover;
}

.gallery {
     position: relative;
     display: flex;
     justify-content: center;
     width: 100%;
}

.carousel {
     position: relative;
     height: 600px;
     min-width: 60%;
     margin: 0 auto;
}

.carousel__track-container {
     position: block;
     display: flex;
     margin: 0;
     padding: 0;
     background-color: yellowgreen;
}

.carousel__track {
     padding: 0;
     margin: 0;

     list-style: none;
}

.carousel__slide {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 100%;
     border-radius: 1.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
}
.carousel__images {
     width: 100%;
     object-fit: cover;
     border-radius: 1.5rem;
}

.carousel__button {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     background: transparent;
     cursor: pointer;
     z-index: 333;
     border: none;
}

.btn-carousel {
     font-size: 2rem;
     color: var(--clr-neutral-100);
}

.carousel__button--prev {
     left: -20%;
}

.carousel__button--next {
     right: -20%;
}

.carousel__nav {
     /* position: absolute;
     top: 65%; */
}

.carousel__indicator {
     /* border: none;
     background-color: var(--clr-neutral-100);
     width: 0.6rem;
     height: 0.6rem;
     border-radius: 50%;
     margin-left: 1rem; */
}

.rgb::after {
     content: '';
     background: linear-gradient(
               45deg,
               #1f0455 0%,
               #39089c 10%,
               #5f15f2 20%,
               #ba0cf8 30%,
               #fb07d9 40%,
               #e707fb 50%,
               #c615f2 60%,
               #f215f2 70%,
               #5f15f2 80%,
               #5f15f2 90%,
               #1f0455 100%
          )
          repeat 0% 0% / 300% 100%;
     position: absolute;
     inset: -10px;
     border-radius: 16px;
     filter: blur(8px);
     transform: translateZ(-1px); /*or z-index */
     animation: rgb 6s linear infinite;
}

@keyframes rgb {
     0% {
          background-position: 0% 50%;
     }
     50% {
          background-position: 100% 50%;
     }
     100% {
          background-position: 0% 50%;
     }
}

/*Offer Section*/

section#offer {
     background: url('../images/background3.png') no-repeat center center/cover;
}

section#contact {
     background: url('../images/background1.png') no-repeat center center/cover;
}

@media only screen and (min-width: 50rem) {
     /*Styling Navbar*/

     .navbar {
          position: fixed;
          top: 0;
          z-index: 1;
          background: var(--clr-primary-500);
          width: 100%;
          display: flex;
          height: 3em;
     }

     .navbar ul {
          display: flex;
          list-style: none;
          width: 100%;
          justify-content: center;
          align-content: center;
     }

     .navbar ul li {
          padding: 1rem;
          margin: 0 2.5rem;
     }

     .navbar ul li a {
          font-weight: 2rem;
          text-transform: uppercase;
          text-decoration: none;
          color: var(--clr-neutral-100);

          letter-spacing: 0.2rem;
     }

     .hamburger {
          display: none;
     }

     /*Section gallery*/

     section#gallery {
          background: url('../images/background2.png') no-repeat center
               center/cover;
     }

     .gallery {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
     }

     .carousel {
          position: relative;
          height: 100%;
          min-width: 60%;
          margin: 0 auto;
          /* display: flex;
     justify-content: center; */
     }

     .carousel__track-container {
          margin: 0;
          padding: 0;
     }

     .carousel__track {
          padding: 0;
          margin: 0;
          list-style: none;
          /* position: block; */
     }

     .carousel__slide {
          width: 100%;
          border-radius: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .carousel__images {
          width: 80%;
          object-fit: cover;
     }

     .carousel__button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          z-index: 999;
          border: none;
     }

     .btn-carousel {
          font-size: 3rem;
          color: var(--clr-neutral-100);
     }

     .carousel__button--prev {
          left: -10%;
     }

     .carousel__button--next {
          right: -10%;
     }

     .carousel__nav {
          position: absolute;
          left: 50%;
          bottom: 0%;
          transform: translateX(-50%);
          transform: translateY();
     }

     .carousel__indicator {
          border: none;
          background-color: var(--clr-neutral-100);
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 50%;
          /* margin-left: 1rem; */
     }
}
